.liner {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    height: 190px;
    width: 65vw;
    gap: 10px;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name {
    font-family: sans-serif;
    font-size: 24px;
}

.price {
    font-weight: 600;
}

.prescription {
    color: red;
    font-size: 20px;
    font-style: italic;
}

.info {
    display: flex;
    flex-direction: column;
}

.buySection {
    display: flex;
    font-size: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttonRoot {
    background-color: var(--green);
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}