.liner {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 100px;
    min-height: 250px;
    padding: 20px;
    align-items: center;
    justify-content: center;

    @media (max-width: 33.75em) {
        margin-top: 100px;
        padding: 20px 15px 20px 15px;
    }
}

.titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    font-size: 92px;
    font-weight: 500;
    letter-spacing: -1px;
    color: var(--darkBlue);
    text-align: center;
    flex-wrap: wrap;
    line-height: 120px;

    .titleBlack {
        color: var(--black);
    }

    .titleGreen {
        color: var(--green);
    }

    @media (max-width: 33.75em) {
        font-size: 80px;
    }
}

.subtitle {
    color: var(--black);
    font-size: 36px;
    line-height: 40px;
    font-weight: 300;
    text-align: center;
    flex-wrap: wrap;
    letter-spacing: -1px;

    @media (max-width: 33.75em) {
        font-size: 30px;
    }
}